{
    "extends": "./vendor/space48/magento2-code-quality/rulesets/.eslintrc",
    "parserOptions": {
        "ecmaVersion": 2021
    },
    "ignorePatterns": [
        "**/*-mixin.js",
        "**/tailwind/**/*.config.js",
        "**/lib/**/*.js"
    ]
}
