{
  "extends": "./vendor/space48/magento2-code-quality/rulesets/.stylelintrc",
  "rules": {
    "no-descending-specificity": null,
    "selector-pseudo-element-colon-notation": null,
    "selector-type-case": null,
    "max-nesting-depth": null,
    "number-leading-zero": null,
    "number-no-trailing-zeros": null,
    "unit-case": null,
    "color-hex-case": null,
    "color-hex-length": null,
    "selector-no-qualifying-type": null
  }
}